.br{
    border:1px solid #ccc;
    border-radius: 5px;
    min-width:1130px;
    margin:10px 0;
}
.ml10{
    margin-left:10px
}
.pd10{
    padding:10px
}
.line{
    width: 5px;
    display: block;
    height: 16px;
    float: left;
    background-color: #19acf7;
    margin-top: 3px;
    margin-right: 5px;
}
.border{
    border-bottom: 1px solid #ccc;
}
