.content ::ng-deep .inner-content {
    padding: 24px;
    background: #fff;
    min-height: 750px;
    width:auto
  }
.content{
    min-width: 1150px;
}
   

.br{
    border:1px solid #ccc;
    border-radius: 5px;
    width:800px;
    margin:10px 0;
    padding:10px;
    margin:0 auto;
}
.add-content{
    height:450px;
    top:100px;
    left:350px;
    border-radius: 6px;
    margin:0 auto;
}
.steps-content{
    height:500px;
    overflow-y: scroll;
}
.steps-arrow{
    margin:0 auto;
    text-align: center;
    margin-top:18px
}
.none{
    display: none;
}
.steps-finish{
    text-align: center;
    font-size: 32px;
    margin:80px
}
::ng-deep .ant-layout {
    width: 100%;
}