<div class="userinfo-main">
    <div class="userinfo-header">
        <div class="userinfo-header-top">
            <form nz-form (ngSubmit)="searchForm()" [formGroup]="contentForm" class="loginForm">
                <nz-form-item class="search">
                    <nz-form-label [nzSpan]="7" style="font-size: 16px;">学院</nz-form-label>
                    <nz-form-control [nzSm]="14" [nzXs]="24">
                        <nz-select style="width: 150px;" nzShowSearch nzAllowClear nzPlaceHolder="请选择"
                            formControlName="collegename" [(ngModel)]="singlecollege">
                            <nz-option *ngFor="let singlePro of collegeTextList" [nzValue]="singlePro.code"
                                [nzLabel]="singlePro.value">
                            </nz-option>
                        </nz-select>
                    </nz-form-control>
                </nz-form-item>
                <nz-form-item class="search">
                    <nz-form-label [nzSpan]="7" style="font-size: 16px;">年级</nz-form-label>
                    <nz-form-control [nzSm]="14" [nzXs]="24">
                        <nz-select style="width: 150px;" nzShowSearch nzAllowClear nzPlaceHolder="请选择"
                            formControlName="grade">
                            <nz-option *ngFor="let singleBase of gradename" [nzValue]="singleBase.code"
                                [nzLabel]="singleBase.value"></nz-option>
                        </nz-select>
                    </nz-form-control>
                </nz-form-item>
                <nz-form-item class="search">
                    <nz-form-label [nzSpan]="7">专业</nz-form-label>
                    <nz-form-control [nzSm]="14" [nzXs]="24">
                        <nz-select style="width: 150px;height:20px;" nzShowSearch nzAllowClear nzPlaceHolder="请选择"
                            formControlName="speciality">
                            <nz-option *ngFor="let singlesub of applyMajorList" [nzValue]="singlesub.code"
                                [nzLabel]="singlesub.value">
                            </nz-option>
                        </nz-select>
                    </nz-form-control>
                </nz-form-item>
                <nz-form-item class="search">
                    <nz-form-label [nzSpan]="7">姓名</nz-form-label>
                    <nz-form-control [nzSm]="14" [nzXs]="24">
                        <input nz-input formControlName="searchname" type="text" class="searchText">
                    </nz-form-control>
                </nz-form-item>
                <nz-form-item class="search" style="margin-left:-25px;">
                    <nz-form-label [nzSpan]="7">学号</nz-form-label>
                    <nz-form-control [nzSm]="14" [nzXs]="24">
                        <input nz-input formControlName="searchNum" type="text" class="searchText">
                    </nz-form-control>
                </nz-form-item>
                <nz-form-item  class="search-btn search" style="width:100px;line-height:2.6">
                    <button nz-button nzType="primary"><i nz-icon nzType="search"></i>查询</button>
                </nz-form-item>
                <div>
                    <button nz-button nzType="primary" (click)="selectpass()">所选审核通过</button>
                    <button nz-button nzType="primary" (click)="selectnopass()">所选审核不通过</button>
                    <button nz-button nzType="primary" (click)="selectallpass()"> 全部审核通过</button>
                </div>
            </form>
           
        </div>
        <nz-table #fixedTable [nzData]="listOfData" [nzScroll]="{ x: '1050px',y:'380px'}"  
        [nzBordered]="true" style="margin-top: 70px;">
            <thead>
              <tr>
                <th nzWidth="50px" nzLeft="0px">序号</th>
                <th nzWidth="50px" nzShowCheckbox [(nzChecked)]="isAllDisplayDataChecked"
                [nzIndeterminate]="isIndeterminate" (nzCheckedChange)="checkAll($event)"  nzLeft="50px"></th>
                <th nzWidth="150px">操作</th>
                <th nzWidth="100px">姓名</th>
                <th nzWidth="100px">学号</th>
                <th nzWidth="100px">学院</th>
                <th nzWidth="100px">年级</th>
                <th nzWidth="100px">专业</th>
                <th nzWidth="100px">Column 7</th>
                <th nzWidth="100px">Column 8</th>
                <th nzWidth="100px" nzRight="0px">审核状态</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let data of fixedTable.data;let i=index">
                <td nzBreakWord nzLeft="0px">{{i+1}}</td>
                <td nzShowCheckbox [(nzChecked)]="mapOfCheckedId[data.id]" (nzCheckedChange)="selectinfo(i)"></td>
                <td nzBreakWord> <span class="operate check" (click)="showModal(i, 'see')">查看</span>
                    <span class="operate pass checkpass" (click)="passinfo(i)" [ngClass]="{'hide': data.flag}"
                        id="checkpass">审核通过</span>
                    <br>
                    <span class="operate revise" (click)="showModal(i, 'edit')">修改</span>
                    <span class="operate nopass" (click)="nopassinfo(i)"
                        [ngClass]="{'hide': data.noflag}">审核不通过</span></td>
                <td nzBreakWord>{{ data.name }}</td>
                <td nzBreakWord>{{ data.number }}</td>
                <td nzBreakWord>{{ data.xueyuan }}</td>
                <td nzBreakWord>{{ data.grade }}</td>
                <td nzBreakWord>{{ data.project }}</td>
                <td nzBreakWord>{{ data.address }}</td>
                <td nzBreakWord>{{ data.address }}</td>
                <td nzBreakWord nzRight="0px" [ngClass]="{'showstyle':data.noflag,'passstyle':data.passflag}">
                {{ data.state }}
                </td>
              </tr>
            </tbody>
          </nz-table>
    </div>
    <nz-modal [(nzVisible)]="isVisible" nzWidth="900" nzTitle="" (nzOnCancel)="handleCancel()" (nzOnOk)="handleOk()">
        <div class="checkinfo-content">
            <form nz-form (ngSubmit)="modifyForm()" [formGroup]="modifyForm" >
                <nz-collapse>
                    <nz-collapse-panel nzHeader="基本信息" nzActive="true">
                        <nz-form-item class="page-form-item">
                            <nz-form-label [nzSpan]="6" nzRequired nzFor="userName">姓名</nz-form-label>
                            <nz-form-control [nzSpan]="17" nzErrorTip="">
                                <input nz-input type="text" placeholder="" formControlName="username" [(ngModel)]="username"
                                [disabled]="this.type=='see'"/>
                            </nz-form-control>
                        </nz-form-item>
                        <nz-form-item class="page-form-item">
                            <nz-form-label [nzSpan]="6" nzRequired nzFor="userSex">性别</nz-form-label>
                            <nz-form-control [nzSpan]="17" nzErrorTip="">
                                <nz-select [(ngModel)]="userSex" [disabled]="this.type=='see'"  nzPlaceHolder="请选择性别" formControlName ="userSex">
                                    <!-- <nz-option *ngFor="let option of userSexList" [nzValue]="option.code"
                                        [nzLabel]="option.text" ></nz-option> -->
                                        <nz-option nzValue="female" nzLabel="女"></nz-option>
                                        <nz-option nzValue="male" nzLabel="男"></nz-option>

                                </nz-select> 
                            </nz-form-control>
                        </nz-form-item>
                        <nz-form-item class="page-form-item">
                            <nz-form-label [nzSpan]="6" nzRequired nzFor="userNation">学号</nz-form-label>
                            <nz-form-control [nzSpan]="17" nzErrorTip="">
                                <input nz-input type="text" [disabled]="this.type=='see'"
                                formControlName="searchNum" [(ngModel)]="searchNum" />
                            </nz-form-control>
                        </nz-form-item>
                        <nz-form-item class="page-form-item">
                            <nz-form-label [nzSpan]="6" nzRequired nzFor="userNation">学院</nz-form-label>
                            <nz-form-control [nzSpan]="17" nzErrorTip="">
                                <input nz-input type="text" [disabled]="this.type=='see'" 
                                formControlName="collegename"  [(ngModel)]="searchNum" />
                            </nz-form-control>
                        </nz-form-item>
                        <nz-form-item class="page-form-item">
                            <nz-form-label [nzSpan]="6" nzRequired nzFor="userNation">年级</nz-form-label>
                            <nz-form-control [nzSpan]="17" nzErrorTip="">
                                <input nz-input type="text" [disabled]="this.type=='see'" 
                                formControlName="grade"  [(ngModel)]="grade"  />
                            </nz-form-control>
                        </nz-form-item>
                    </nz-collapse-panel>
                </nz-collapse>
                
            </form>
        </div>
      </nz-modal>
    
</div>