[nz-form] {
    max-width: 800px;
    font-size: 20px;
  }
  
  .login-content{
    position: relative;
    width:100vw;
    height:100vh;
    /* background:red; */
    background:  url('../../../../assets/login.png') center center/100vw  no-repeat;
  }
  .login-header{
    font-size: 2.5em;
    padding-left:200px;
    padding-top:20px;
  }
  .login-intro{
    padding-left:320px ;
    font-size:1.4em ;
  }
  .phoneNum{
    position: absolute;
    right: 201px;
    font-size: 1.7em;
    top: 40px;
  }
  .FormGroup{
    width:400px;
    height:360px;
    position: absolute;
    right:9%;
    top:23%;
    background:#fff;
    border-radius: 1em;
  }
  .formGroup{
    width:450px;
    height:auto;
    position: absolute;
    right:115px;
    top:132px;
    background:#fff;
    border-radius: 1em;
  }
  .login-user{
    width:100%;
    text-align: center;
    font-size: 1.7em;
    margin-top:15px;
    color:rgb(57, 100, 180) ;
    margin-bottom: 15px;
  }
  .login-btn{
    width:300px;
    margin:0 50px;
    height:35px;
  }
  .login-register{
    width: auto;
    text-align: right;
    position: absolute;
    right: 57px;
    top: 44px;
    color:rgb(73, 134, 224);
    cursor: pointer;
  }
  .form-item{
    margin-bottom: 7px;
  }
  .login-register-btn{
    width:300px;
    margin:0 70px;
    background:#40a9ff;
    color:#fff;
    margin-top:10px;
  } 
  .register-user{
    width:100%;
    text-align: center;
    font-size: 1.7em;
    margin-top:15px;
    color:rgb(57, 100, 180) ;
    margin-bottom: 15px;
  }